body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/47b2f299b883b535ed44b08d8080da39.jpg) ;
    
}
.colar-white{
    color: white;
}
.r{
    border-radius: 50%;
}